player-connection-mode=Listen
player-connection-guid=3493439897
player-connection-debug=0
player-connection-project-name=OnlineShoot
player-connection-ip=172.17.115.201
player-connection-ip=10.30.15.109
player-connection-ip=192.168.137.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
